* {
  outline: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f2f2f2;
}

.container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.frow {
  display: flex;
  flex-direction: row;
}

.fcol {
  display: flex;
  flex-direction: column;
}

.jse {
  justify-content: space-evenly;
}

.jsb {
  justify-content: space-between;
}

.jsa {
  justify-content: space-around;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

input[type="text"], input[type="password"] {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  background: #b1dac7;
  transition: all .2s ease;
  color: #2c3e50;
  &:hover, &:focus {
    background: #96cab1;
    box-shadow: 0 3px 6px rgba(#000, .05);
  }
}

button {
  background: #42b983;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  color: #fff;
  cursor: pointer;
  transition: all .2s ease;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  &:hover {
    background: #36ac77;
    box-shadow: 0 3px 6px rgba(#000, .16);
  }
  &:active {
    background: #25885c;
  }
}