<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Cuenta</router-link>
      <router-link to="/resources">Editar</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#nav {
  display: flex;
  justify-content: space-evenly;
  a {
    font-weight: bold;
    text-decoration: none;
    background: #2c3e50;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 10px 0;
    &.router-link-exact-active {
      background: #42b983;
    }
  }
}
</style>
